<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>
    <a href="{% url 'create_book' %}">Добавить книгу</a>
    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} - {{ book.author }}
                <a href="{% url 'edit_book' book.pk %}">Редактировать</a>
                <a href="{% url 'delete_book' book.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
